---
# Tasks for configuring ArgoCD Application and AppProject

- name: Ensure ArgoCD namespace exists
  kubernetes.core.k8s:
    name: "{{ openshift_gitops.argocd_namespace }}"
    api_version: v1
    kind: Namespace
    state: present
    definition:
      metadata:
        name: "{{ openshift_gitops.argocd_namespace }}"
        labels:
          openshift.io/cluster-monitoring: "true"

- name: Grant cluster-admin permissions to ArgoCD Application Controller ServiceAccount
  kubernetes.core.k8s:
    name: argocd-application-controller-cluster-admin
    api_version: rbac.authorization.k8s.io/v1
    kind: ClusterRoleBinding
    state: present
    definition:
      metadata:
        name: argocd-application-controller-cluster-admin
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: cluster-admin
      subjects:
      - kind: ServiceAccount
        name: openshift-gitops-argocd-application-controller
        namespace: "{{ openshift_gitops.argocd_namespace }}"

- name: Create AppOfApps Application (monitors gitops/apps directory)
  kubernetes.core.k8s:
    name: "{{ openshift_gitops.app_of_apps.name }}"
    namespace: "{{ openshift_gitops.argocd_namespace }}"
    api_version: argoproj.io/v1alpha1
    kind: Application
    state: present
    definition:
      metadata:
        name: "{{ openshift_gitops.app_of_apps.name }}"
        namespace: "{{ openshift_gitops.argocd_namespace }}"
        finalizers:
          - resources-finalizer.argocd.argoproj.io
      spec:
        project: default
        source:
          repoURL: "{{ openshift_gitops.gitops_repo.url }}"
          targetRevision: "{{ openshift_gitops.gitops_repo.branch | default('main') }}"
          path: "{{ openshift_gitops.gitops_repo.path }}"
          directory:
            recurse: true  # Recursively discover Application definitions in gitops/apps
        destination:
          server: https://kubernetes.default.svc
          namespace: "{{ openshift_gitops.argocd_namespace }}"
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
          syncOptions:
            - CreateNamespace=false
            - PrunePropagationPolicy=foreground
            - PruneLast=true
  when: 
    - openshift_gitops.app_of_apps.enabled | default(false)
    - openshift_gitops.gitops_repo.url is defined
    - openshift_gitops.gitops_repo.url | length > 0
    - openshift_gitops.gitops_repo.path is defined
    - openshift_gitops.gitops_repo.path | length > 0
  # Note: ApplicationSet is managed via GitOps (Application in gitops/environments/mta/apps/)

